<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="inputInd" value="C:\GH-LINK ATM ROU INDIVIDUAL AND BULK RECONS\Input\GH-LINK ATM ROU INDIVIDUAL\"/>
		<add key="generatedJson" value="C:\GH-LINK ATM ROU INDIVIDUAL AND BULK RECONS\GeneratedJson\"/>
		<add key="outputTemplate" value="C:\GH-LINK ATM ROU INDIVIDUAL AND BULK RECONS\OutputTemplate\Template.xlsx"/>
		<add key="pivotInput" value="C:\GH-LINK ATM ROU INDIVIDUAL AND BULK RECONS\PivotInput\"/>
		<add key="openItems" value="C:\GH-LINK ATM ROU INDIVIDUAL AND BULK RECONS\Open Items\Individual\"/>
		<add key="source" value="C:\GH-LINK ATM ROU INDIVIDUAL AND BULK RECONS\Source\"/>
		<add key ="ApplicationName" value="CommissionReview"/>
	</appSettings>
</configuration>